#blogs-main{
  padding: 10px;
}

h1{
  text-align: center;
  margin: 5px;
}

#blog-pick{
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  font-size: 1.3em;
}

#blog-pick > span:hover{
  color: var(--color-buttons);
}

#blog-type-info{
  box-shadow: var(--bx-shadow);
  width: 50%;
  height: auto;
  padding: 20px;
  text-align: center;
  display: none;
  margin: 0 auto;
  min-width: 450px;
  border-radius: 15px;
}

.preview-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.see-details-overlay > a{
  border-radius: 20px;
}