#ci-main{
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-image: url("../images/blob.svg");
  background-size: contain;
  background-repeat: repeat; */
}

#contact-links-container{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#contact-links-container > a{
  width: 65%;
  margin: 20px;
  font-size: 1.2rem;
  padding: 10px;
  box-shadow: 15px 15px 0px var(--color-buttons);
  color: #fff;
}

#contact-links-container > a:hover{
  box-shadow: 2px 2px 30px var(--color-buttons), 
  -2px -2px 30px var(--color-buttons);
  color: var(--color-btn-hover);
}

#contact-links-container > a > ion-icon{
  font-size: 1.7rem;
  margin-right: 15px;
  position: relative;
  top: 6px;
}

#twitter{
--color-buttons:#26a7de;
}

#linkedin{
  --color-buttons: #0077B5;
}

#whatsapp{
  --color-buttons: #075e54;
}

#email{
  --color-buttons: #C71610;
}

#github{
  --color-buttons: #000;
}

#phone{
  --color-buttons: rgb(48, 104, 5);
}


#message-form{
  width: 100%;
  margin-top: 3em;
  display: grid;
  place-items: center;
}

#message-textarea{
  width: 70%;
  background-color: transparent;
  border-bottom: 2px solid var(--color-buttons);
  margin: 3em;
  border-radius: 20px;
  padding: 20px;
  height: 170px;
  max-width: 40rem;
  color: var(--color-text);
  font-size: 1.1em;
  caret-color: var(--color-buttons);
}

.send-msg-btn{
  border: none
}

.send-msg-btn:hover{
  background-color: transparent;
}

@media screen and (max-width: 700px){

  #contact-links-container{
    width: 100%;
  }

  #message-textarea{
    width: 90%;
  font-size: .9em;
  }
}
